:root{
    --width:100%;
}
.xl\:max-w-3xl {  max-width:var(--width) }
.md\:max-w-3xl {  max-width:var(--width) }
.gizmo .gizmo\:md\:max-w-3xl{  max-width:var(--width) }
.gizmo .gizmo\:xl\:max-w-\[48rem\]{  max-width:var(--width) }

#widthSlider {
    margin: auto;
}

#sliderHolder{
    width: 100%;
    top:0;
    height:56px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    pointer-events:none;
    top:0;
    z-index:999999999;
}

.slidecontainer{
    display: flex;
    align-items: center;
    pointer-events: all;
}

input[type="range"] {
    accent-color: #0FA180;
}